.ticket-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 40px;
    padding: 10px;
}

.ticket-card {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: .3s ease;
}

    .ticket-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    }

.ticket-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.ticket-body {
    padding: 15px;
}

.ticket-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: #4a2a6f;
}

.ticket-price {
    font-size: 1.1rem;
    font-weight: 600;
    color: #e63946;
    margin: 8px 0;
}

.ticket-date {
    font-size: .9rem;
    color: #555;
    margin-bottom: 10px;
}

.btn-buy {
    width: 100%;
    padding: 10px;
    background: #64407A;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

    .btn-buy:hover {
        background: #8366a5;
    }

/* Botón Salir elegante */
.navbar .btn-warning {
    background-color: #ffc107; /* color dorado base */
    color: #000000;
    font-weight: 600;
    border: none;
    padding: 6px 18px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

    .navbar .btn-warning:hover {
        background-color: #eb0f0f; /* dorado más oscuro */
        color: #fff;
        transform: translateY(-2px); /* efecto levitar */
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
